<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <label for="name">Product Name:</label>
  <input id="name" formControlName="name" type="text" required>

  <label for="description">Product Description:</label>
  <textarea id="description" formControlName="description"></textarea>

  <label for="price">Price:</label>
  <input id="price" formControlName="price" type="number" required>

  <label for="image">Current Image:</label>
  <img *ngIf="productForm.get('image_url')?.value" [src]="'http://localhost:8000/storage/' + productForm.get('image_url')?.value" alt="Product Image" style="max-width: 200px; display: block; margin-bottom: 10px;" />

  <label for="image">Upload New Image:</label>
  <input type="file" (change)="onFileSelected($event)" required />

  <label for="category">Category:</label>
  <select formControlName="category_id" required>
    <option *ngFor="let category of categories" [value]="category.id">
      {{ category.name }}
    </option>
  </select>

  <button type="submit" [disabled]="productForm.invalid">Add Product</button>
</form>
